[Unit]
Description=Camera streamer for OctoPrint
After=network-online.target OctoPrint.service
Wants=network-online.target

[Service]
Type=simple
User={{ ansible_user }}
ExecStart="{{ scripts_path }}/webcamDeamon"

[Install]
WantedBy=multi-user.target